*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --hue: 10;
    --bkg: var(--hue) 40% 96%;
    --text: var(--hue) 40% 50%;
    --accent: var(--hue) 60% 50%;
    --bkg-dark: var(--hue) 40% 85%;
 }

body {
    font-family:monospace;
    display: grid ;
    place-items: center;
    min-height: 100vh;
    place-content: center;

    background-color: hsl(var(--bkg));
    color:hsl(var(--text)) ;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    background-color: hsl(var(--bkg-dark));
    margin-top: 1rem;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
    width: 600px;
    max-width: 90vw;
    aspect-ratio: 1/1;
}

.tile {
    background-color: hsl(var(--bkg));
    cursor: pointer;
    border-color: hsl(var(--bkg-dark));
    border-radius: 12px;
    display: grid;
    place-items: center;
    font-family:monospace;
    font-weight:bold;
    font-size: clamp(2rem,calc(10vw + 1rem) , 10rem);
    aspect-ratio: 1/1;   
}

.tile[data-value="X"]::before {
    content: "X";
}

.tile[data-value="0"]::after {
    content: "0";
}
 